<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="BomOfferEntities" connectionString="metadata=res://*/BomOffer.BomOfferEntity.csdl|res://*/BomOffer.BomOfferEntity.ssdl|res://*/BomOffer.BomOfferEntity.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=localhost;User Id=root;database=shenzhenerp;password=chenlq&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>